<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Public Bathroom Corners'}) %>
<body>
    <%- include('./partials/nav.ejs') %>  
    <div id="bathroom-info">
        <% if(bathroom.nickname !== ''){ %>
            <div id="name-address">
                <h1>"<%= bathroom.nickname %>"</h1>
                <h2>(<%= bathroom.name %>)</h2>
                <p><%= bathroom.address %></p>
                <p>Rating: <%= bathroom.totalRating.toFixed(2) %></p>
            </div>
        <% } else { %>
        <div id="name-address">
            <h1><%= bathroom.name %></h1>
            <p><%= bathroom.address %></p>
            <p>Rating: <%= bathroom.totalRating.toFixed(2) %></p>
        </div>
        <% } %>
        <div class="divider"></div>
        <div>
            <img src="/images/no-photo.jpg">
        </div>
        <div class="divider"></div>
        <h2>Reviews:</h2>
        
        <% if(bathroom.reviews.length > 0 && bathroom.reviews.length > 3) { %>
           <% for(let i = 0; i < 3; i++) { %>
                <div class="comment-div"> 
                <h3><%= bathroom.reviews[i].title %></h3>
                <p>Rating: <%= bathroom.reviews[i].avgRating.toFixed(2) %></p>
                <p><%= bathroom.reviews[i].content %></p>
                <span><%= bathroom.reviews[i].updatedAt.toUTCString() %></span>
                </div>
            <% } %>           
        <% } else if(bathroom.reviews.length > 0){ %>
           <% for(let i = 0; i < bathroom.reviews.length; i++) { %>
            <div class="comment-div">     
                <h3><%= bathroom.reviews[i].title %></h3>
                <p>Averaged Rating: <%= bathroom.reviews[i].avgRating.toFixed(2) %></p>
                <p><%= bathroom.reviews[i].content %></p>
                <span><%= bathroom.reviews[i].updatedAt.toUTCString() %></span>
            </div>
            <% } %>
            
        <% } else { %>
        No reviews yet. 
        <% if (user) { %>
        Be the first to leave a <a href="../reviews/new/<%= bathroom.id %>">review!</a>
        <% } %>
        <% } %>
      
  
        <% if(bathroom.reviews.length > 0) { %>
        <a href="../reviews/index/<%= bathroom.id %>">see all reviews</a>
        <% if (user) { %>
        <a href="../reviews/new/<%= bathroom.id %>">add a review</a>
        <% } %>
        <% } %>
        
    </div>
</body>
</html>