<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Public Bathroom Corners'}) %>
<body>
    <%- include('./partials/nav.ejs') %>  
    <div id="bathroom-info">
        <h1><%= bathroom.name %></h1>
        <p><%= bathroom.address %></p>
        
        <% if(bathroom.reviews.length > 0 && bathroom.reviews.length > 3) { %>
            <% for(let i = 0; i < 3; i++) { %>
                <p><%= bathroom.reviews[i].title %></p>
                <p><%= bathroom.reviews[i].avgRating %></p>
                <p><%= bathroom.reviews[i].content %></p>
            <% } %>
            <a href="../reviews/index/<%= bathroom.id %>">see all reviews</a>
        <% } else if(bathroom.reviews.length > 0){ %>
            <% for(let i = 0; i < bathroom.reviews.length; i++) { %>
                <p><%= bathroom.reviews[i].title %></p>
                <p><%= bathroom.reviews[i].avgRating %></p>
                <p><%= bathroom.reviews[i].content %></p>
            <% } %>
            <a href="../reviews/index/<%= bathroom.id %>">see all reviews</a>
        <% } else { %>
        No reviews yet. Be the first to leave a <a href="../reviews/new/<%= bathroom.id %>">review</a>!
        <% } %>
        <br />
        <a href="../reviews/new/<%= bathroom.id %>">add a review</a>
    </div>
</body>
</html>