<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Public Bathroom Corners'}) %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1>ALL REVIEWS</h1>
    <% for(let review of bathroom.reviews) { %>
    <div class="review-div">
        <h2><%= review.title %></h2>
        <h3>Average Rating: <%= review.avgRating.toFixed(2) %></h3>
        <p><%= review.content %></p>
        <a href="../full/<%= bathroom.id %>/<%= review.id %>">full review</a>
        <span><%= review.updatedAt.toDateString() %></span>
    </div>
    <% } %>
    <a id="all-reviews-link" href="../new/<%= bathroom.id %>">add a review</a>
</body>
</html>