<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let review of bathroom.reviews) { %>
    <h2><%= review.title %></h2>
    <h3>Average Rating: <%= review.avgRating %></h3>
    <p><%= review.content %></p>
    <a href="<%= bathroom.id %>/<%= review.id %>">full review</a>
    <% } %>
</body>
</html>