<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', { title: 'Public Bathroom Search Results'}) %>
    <link rel="stylesheet" href="styles/search-results.css">
    <script src="js/search.js" defer></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>  
    <div id="results-container">
        <div id="map"></div>
        <div id="info-container">
            <% for(let result of results){ %>
                <div class="bathroom-details">
                    <h3><%= result.name %></h3>
                    <p><i><%= result.address %></i></p>
                    <% if(result.rating > 0){ %>
                    <span>Rating: <%= result.rating.toFixed(2) %></span>
                    <% } else { %>
                    <span>Rating: <i>No reviews yet</i></span>
                    <% } %>
                    <form method="POST" action="/bathroom/create/<%= result.id %>">
                    <input type="submit" value="more info">
                    </form>
                    <div class="bathroom-btn">
                        <button>
                            <img id="<%= result.lat %>, <%= result.lng %>" src="/images/target.png">
                        </button>
                    </div>
                </div>  
            <% } %>
        </div>
    </div>
    <script>
       
      
        document.addEventListener('DOMContentLoaded', function() {
                centerLoc = <%- JSON.stringify(center) %>
                for(let result of <%- JSON.stringify(results) %>) {
                    myPlace.push(result)
                }
               
               
            })
      </script>
   
  </body>
  
</html>